<!-- full page scroll -->
<link rel="stylesheet" type="text/css" href="fullpage.css" />

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". -->
<script src="vendors/easings.min.js"></script>


<!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
<script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
<script type="text/javascript" src="fullpage.js"></script>




<!-- 글꼴 스타일 -->
<style type="text/css">
  body { font-family: 'Jeju Myeongjo', serif; }
  h1, h4 { font-weight: bold; }
</style>

<!-- 헬푸의 철학과 사명 -->
<body>

<div id="fullpage">  <!-- full page scroll : open -->
<div class="slide" data-anchor="slide1">  <!-- full page scroll - slide 1 : open -->
<div class="container">  <!-- About의 내용물을 담는 container div -->
  <h1>About</h1>
  <h6 style="letter-spacing:1.5px">'걱정없식'을 만드는 팀 - '헬푸' 이야기</h6>
  <br>


<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="show-on-scroll lead d-flex justify-content-between" align="center">
        <div class="content-figure" align="left">
          <figure>
            <%= image_tag "about1.png", style:'height:500px; width:540px;'%>
          </figure>
        </div>
        <div class="content-text" align="right">
          <br> <br> <br> <br> <br> <br>
          <h4 style="letter-spacing:2px">헬푸는 사람을 생각합니다</h4> <br> 
          <p style="letter-spacing:1px">모든 사람이 원하는 음식을 안전하고 건강하게 먹는</p>
         <p style="letter-spacing:1px">세상을 꿈꾸며 출발하였습니다.</p>
        </div>
      </div>
    </div>  <!-- 첫 번째 단 마감 -->
    

    <div class="carousel-item">
      <div class="show-on-scroll lead d-flex justify-content-between" align="center">
        <div class="content-text" align="left">
          <br> <br> <br> <br> <br> <br>
          <h4 style="letter-spacing:2px">헬푸는 함께하는 공동체를 추구합니다</h4> <br>
          <p style="letter-spacing:1px">누구나 함께 어울리며 즐겁게 음식을 먹을 수 있는</p> 
          <p style="letter-spacing:1px">생활을 만들고자 합니다.</p>
        </div>
        <div class="content-figure" align="left">
          <figure class="content-figure" align="right">
            <%= image_tag "about2.png", style:'height:500px; width:540px;'%>
          </figure>
        </div>
      </div>
    </div>  <!-- 두 번째 단 마감 -->
        

    <div class="carousel-item">
      <div class="show-on-scroll lead d-flex justify-content-between">
        <div class="content-figure" align="left">
          <figure>
            <%= image_tag "about3.png", style:'height:500px; width:540px;'%>
          </figure>
        </div>
        <div class="content-text" align="right">
          <br> <br> <br> <br> <br>
          <h4 style="letter-spacing:2px">소중한 사람들에게 권할 수 있도록</h4> <br>
          <p style="letter-spacing:1px">우리 삶과 가장 맞닿아 있는 음식,</p>
          <p style="letter-spacing:1px">내 가족과 친구가 믿고 사용할 수 있는 서비스를 만듭니다.</p>
        </div>
      </div>  
    </div> <!-- 세 번째 단 마감 -->


    <div class="carousel-item">
      <div class="show-on-scroll lead d-flex justify-content-between" align="center">
        <div class="content-text" align="left">
          <br> <br> <br> <br> <br> <br>
          <h4 style="letter-spacing:2px">음식을 도와줘, 헬푸</h4> <br>
          <p style="letter-spacing:1px">식품 알레르기 보유자가 안전하고 다채롭게 먹을 수 있도록</p> 
          <p style="letter-spacing:1px">헬푸가 함께 하겠습니다.</p>
        </div>
        <div class="content-figure" align="left">
          <figure class="content-figure" align="right">
            <%= image_tag "about4.png", style:'height:500px; width:540px;'%>
          </figure>
        </div>
      </div>
    </div>  <!-- 네 번째 단 마감 -->   

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

</div>  <!-- Carousel : close -->
</div>  <!-- full page scroll - slide 1 : close -->

  


<br> <br> <br> <br> <br>


<!-- 헬푸를 만드는 사람들 -->
<div class="slide fp-auto-height" data-anchor="slide2">  <!-- full page scroll - slide 2 : open -->
<div  style="show-on-scroll">
  <h1>Members</h1>
  <h6 style="letter-spacing:1.5px">헬푸를 만드는 사람들</h6>

<div>
  <br> <br>
  <figure class="content-figure lead d-flex justify-content-between" align="center" style="height:150px; width:1100px;">
    <div>
      <%= image_tag "boseong.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>김보성 (경영17)</h6>
    </div>
    <div>
      <%= image_tag "hyejin.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>원혜진 (영어영문15)</h6>
    </div>
    <div>
      <%= image_tag "swimme.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>이수영 (지구환경과학17)</h6>
    </div>
    <div>
      <%= image_tag "jason.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>이재승 (통계17)</h6>
    </div>
  </figure>

  <br> <br> <br>
  <figure class="content-figure lead d-flex justify-content-between" align="center"  style="height:140px; width:780px">
    <div>
      <%= image_tag "jiwon.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>이지원 (컴퓨터17)</h6>
    </div>
    <div> 
      <%= image_tag "ssng.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>한승희 (경영16)</h6>
    </div>
    <div>
      <%= image_tag "yerim.png", style:'height:140px; width:140px; border-radius:70px'%>
      <p> </p> <h6>허예림 (경영15)</h6>
    </div>
  </figure>
</div>
</div>  <!-- full page scroll - slide 2 : close -->

</div>  <!-- div container : close -->
</div>  <!-- full page scroll : close -->


<script type="text/javascript">
  new fullpage('#fullpage', {
	  //options here
	  autoScrolling:true,
	  scrollHorizontally: true
  });

  //methods
  fullpage_api.setAllowScrolling(false);
</script>


</body>


  

<br> <br> <br> <br>

