<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>/</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |article| %>
     <% if article.notice == true %> 
      <tr>
        <td>공지</td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
      </tr>
    <% end %>
   <% end %> 
  </tbody>
      
 <tbody>
   <% @boards.each do |article| %>
    <% if article.notice == false %> 
     <tr>
      <td>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>         
    <% end %>
   <% end %> 
  </tbody>
 </table>
<div id="div_laypopup" align="center" style="display:none;border-width:0px;Z-INDEX: 201; POSITION: absolute;left:528px; top:640px;">  
    <input type="checkbox" name="close" value="OK" onclick="javascript:closeWinAt00('div_laypopup', 1);"/>오늘만 이 창을 열지 않음 
 </div>  


 <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>새로운 식당이 업데이트 되었습니다.</h4><br/>
    <h6>8월22일자:<br>
    <input type="checkbox" name="close" value="OK" onclick="javascript:closeWinAt00('myModal', 1);"/>오늘만 이 창을 열지 않음  
  </div>
</div>


 <script>  
 openWin('myModal');  
  var modal = document.getElementById('myModal');
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
          modal.style.display = "none";   
  }
 </script>  

