<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image,
        accept: 'image/png, image/gif, image/jpeg'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
