<!DOCTYPE html>
<html>
  <head>
    <title>Helpfood</title>
    <%= csrf_meta_tags %>
     <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body id="whole" class="container wholebackground" style="text-decoration: none;">
    <%= render 'layouts/header'%>
    <br><br><br>
    <%= yield %>
  </body>

  <script>
    function showHide(id) {
    var obj = document.getElementById(id);
      if (obj.style.display == 'none')
       obj.style.display = 'block';
      else
       obj.style.display = 'none';  
    }
 jQuery(function($) {
        if (window.location.pathname == '/' ) { 
        $("#whole").addClass("mainbg" ); } 
        $("body").css("display", "none");
        $("body").fadeIn(1000);
        $("a.transition").click(function(event){
          event.preventDefault();
          linkLocation = this.href;
        $("body").fadeOut(500, redirectPage);
        });
        function redirectPage() {
        window.location = linkLocation;
        }
      });

   //Channel Plugin Scripts -->
  ;window.channelPluginSettings = {
    "pluginKey": "0c46d23e-36cc-47ea-b4ab-43e263042e5c"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
// End Channel Plugin -->
     
    </script>
  
  


</html>